<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Bluethinkinc\CustomRestApi\Api\Data\StudentInterface"
                type="Bluethinkinc\CustomRestApi\Model\Student"/>

    <preference for="Bluethinkinc\CustomRestApi\Api\Data\StudentSearchResultsInterface"
                type="Bluethinkinc\CustomRestApi\Model\StudentSearchResults"/>

    <preference for="Bluethinkinc\CustomRestApi\Api\StudentRepositoryInterface"
                type="Bluethinkinc\CustomRestApi\Model\StudentRepository"/>
    
    <preference for="Magento\Framework\Api\SearchCriteriaInterface"
                type="Magento\Framework\Api\SearchCriteria"/>
</config>